section.top-content {
  div.text-container {
    margin-top: 1rem;
  }
}

.teal {
  background-color: teal;
}
.gold {
  background-color: gold;
}
.cadetblue {
  background-color: cadetblue;
}
.coral {
  background-color: coral;
}
.crimson {
  background-color: crimson;
}
.forestgreen {
  background-color: forestgreen;
}
.darkorchid {
  background-color: darkorchid;
}
.hotpink {
  background-color: hotpink;
}
.indigo {
  background-color: indigo;
}
.dodgerblue {
  background-color: dodgerblue;
}
