section {
  display: flex;
  flex-wrap: wrap;
  &.top-content {
    div.text-container {
      flex: 0 0 368px;
      margin-top: 1rem;
    }
  }
  &.middle-content {
    div.boxes {
      display: flex;
      flex-wrap: wrap;
      .box {
        flex: 0 0 100px;
      }
    }
  }
  &.bottom-content {
    div.text-container {
      flex: 0 1 256px;
    }
  }
}

.text-container {
  margin: 1rem 0 0;
}

.teal {
  background-color: teal;
}
.gold {
  background-color: gold;
}
.cadetblue {
  background-color: cadetblue;
}
.coral {
  background-color: coral;
}
.crimson {
  background-color: crimson;
}
.forestgreen {
  background-color: forestgreen;
}
.darkorchid {
  background-color: darkorchid;
}
.hotpink {
  background-color: hotpink;
}
.indigo {
  background-color: indigo;
}
.dodgerblue {
  background-color: dodgerblue;
}
